<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div layout="column" layout-fill>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <a (click)="toggleSideNav()"
               href="javascript:;" class="menu-button d-none d-md-block">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1"/>
                    <rect x="0.48" y="7.5" width="7" height="1"/>
                    <rect x="0.48" y="15.5" width="7" height="1"/>
                </svg>
                {{" "}}
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1"/>
                    <rect x="1.56" y="7.5" width="16" height="1"/>
                    <rect x="1.56" y="15.5" width="16" height="1"/>
                </svg>
            </a>
        </div>

        <a class="navbar-logo">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>

        <div class="navbar-right">
            <div class="user d-inline-block" dropdown>
                <button class="btn btn-empty p-0" type="button" dropdownToggle mat-icon-button
                        [mat-menu-trigger-for]="userMenu">
                    <span>
                      <i class="simple-icon-user"></i>
                    </span>
                </button>

                <mat-menu #userMenu="matMenu" class="user-menu" yPosition="below" xPosition="before">
                    <button mat-menu-item [disabled]="true">
                        <span>{{username$ | async}}</span>
                    </button>
                    <hr>
                    <button mat-menu-item (click)="goToSettings()">
                        <span>{{'Settings' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <span>{{'Sign Out' | translate}}</span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </nav>

    <mat-sidenav-container>
        <mat-sidenav
                [mode]="'side'"
                [opened]="isOpened$ | async">
            <perfect-scrollbar class="container">
                <mat-nav-list>
                    <ng-container class="scroll">
                        <a mat-list-item [routerLink]="'/quickAccess'" routerLinkActive="active"
                           *hasPermission="">
                            <i [ngClass]="'iconsminds-monitor-3'"></i>
                            {{'Dashboard' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/suite'" routerLinkActive="active"
                           *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-magnifi-glass'"></i>
                            {{'AML Suite' | translate}}
                        </a>
                        <a mat-list-item [mat-menu-trigger-for]="transactionsMonitoringMenu" routerLinkActive="active"
                           *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-target-market'"></i>
                            {{'Transactions Monitoring' | translate}}
                        </a>
                        <mat-menu #transactionsMonitoringMenu="matMenu" class="transactions-monitoring-menu" yPosition="below" xPosition="after">
                            <div class="caption">Dashboard</div>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-main'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'iconsminds-target-market'"></i>
                                {{'Main' | translate}}
                            </a>
                            <hr>
                            <div class="caption">Monitoring Desk</div>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-alerts'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-flag'"></i>
                                {{'Alerts' | translate}}
                            </a>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-entities'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-list'"></i>
                                {{'Entities' | translate}}
                            </a>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-transactions'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-shuffle'"></i>
                                {{'Transactions' | translate}}
                            </a>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-cases'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-puzzle'"></i>
                                {{'Cases' | translate}}
                            </a>
                            <hr>
                            <div class="caption">Configuration</div>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-segments'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-organization'"></i>
                                {{'Segments' | translate}}
                            </a>
                            <a mat-list-item [routerLink]="'/transactions-monitoring-users'" routerLinkActive="active"
                               *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                                <i [ngClass]="'simple-icon-people'"></i>
                                {{'Users' | translate}}
                            </a>
                        </mat-menu>
                        <a mat-list-item [routerLink]="'/offices'" routerLinkActive="active"
                           *hasPermission="{ id: 'office_offices', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-museum'"></i>
                            {{'Branches' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/roles'" routerLinkActive="active"
                           *hasPermission="{ id: 'identity_roles', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-key'"></i>
                            {{'Administration' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/employees'" routerLinkActive="active"
                           *hasPermission="{ id: 'office_employees', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-user'"></i>
                            {{'Staff' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/accounting'" routerLinkActive="active"
                           *hasPermission="{ id: 'accounting_ledgers', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-coins'"></i>
                            {{'Accounting' | translate}}
                        </a>

                        <a mat-list-item [routerLink]="'/customers'" routerLinkActive="active"
                           *hasPermission="{ id: 'customer_customers', accessLevel: 'READ' }">
                            <i [ngClass]="'simple-icon-grid'"></i>
                            {{'Customers' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/loans'" routerLinkActive="active"
                           *hasPermission="{ id: 'portfolio_products', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-financial'"></i>
                            {{'Loan products' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/deposits'" routerLinkActive="active"
                           *hasPermission="{ id: 'deposit_definitions', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-pound-sign-2'"></i>
                            {{'Account Management' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/teller'" routerLinkActive="active"
                           *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-hipster-men'"></i>
                            {{'Teller' | translate}}
                        </a>
                        <a mat-list-item [routerLink]="'/reports'" routerLinkActive="active"
                           *hasPermission="{ id: 'teller_operations', accessLevel: 'READ' }">
                            <i [ngClass]="'iconsminds-statistic'"></i>
                            {{'Reports' | translate}}
                        </a>
                    </ng-container>
                </mat-nav-list>
            </perfect-scrollbar>
        </mat-sidenav>
        <!-- Main content -->
        <div layout-fill>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
    <fims-notification></fims-notification>
</div>
