<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="mat-content" flex mat-scroll-y>
    <div class="row">
        <div class="col-12">
            <h1>Dashboards</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="dashboard-chart">
            <h5 style="margin-left: 30px">CustomerAttrition</h5>
            <nvd3 [options]="lineChartCustomer" [data]="dataLineChartCustomerAttrition"></nvd3>
        </div>
        <div class="dashboard-chart" style="margin-left: 30px">
            <h5 style="margin-left: 30px">CustomerAcquisition</h5>
            <nvd3 [options]="lineChartCustomer" [data]="dataLineChartCustomerAcquisition"></nvd3>
        </div>
    </div>

    <div style="display: flex; flex-direction: row;">
        <div class="dashboard-chart" style="width: 30%">
            <h5>Monthly Plans (Corporate)</h5>
            <nvd3 [options]="donutChart" [data]="dataDonutChartMonthlyPlansCorporate"></nvd3>
        </div>
        <div class="dashboard-chart card-body" style="margin-left: 30px; width: 30%">
            <h5 class="card-title">Logs</h5>
            <div style="height: 200px">
                <perfect-scrollbar class="container">
                    <table class="table table-sm table-borderless">
                        <tbody>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">14:12</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Soufflé</span></td>
                            <td class="text-right"><span class="text-muted">13:20</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-danger log-indicator"></span></td>
                            <td><span class="font-weight-medium">14 products added</span></td>
                            <td class="text-right"><span class="text-muted">12:55</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Napoleonshat</span></td>
                            <td class="text-right"><span class="text-muted">12:44</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Cremeschnitte</span></td>
                            <td class="text-right"><span class="text-muted">12:30</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Soufflé</span></td>
                            <td class="text-right"><span class="text-muted">10:40</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-danger log-indicator"></span></td>
                            <td><span class="font-weight-medium">2 categories added</span></td>
                            <td class="text-right"><span class="text-muted">10:20</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Chocolate Cake</span></td>
                            <td class="text-right"><span class="text-muted">09:28</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Magdalena</span></td>
                            <td class="text-right"><span class="text-muted">09:25</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Fat Rascal</span></td>
                            <td class="text-right"><span class="text-muted">09:20</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-2 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New sale: Parkin</span></td>
                            <td class="text-right"><span class="text-muted">09:10</span></td>
                        </tr><!----></tbody>
                    </table>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="dashboard-chart" style="margin-left: 30px; width: 30%">
            <h5>Monthly Plans (Individual)</h5>
            <nvd3 [options]="donutChart" [data]="dataDonutChartMonthlyPlansIndividual"></nvd3>
        </div>
    </div>

    <div class="dashboard-chart">
        <h5 style="margin-left: 30px">TransactionsVolume</h5>
        <nvd3 [options]="lineChartCustomer" [data]="dataLineChartTransactionsVolume"></nvd3>
    </div>
</div>
