<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<div class="mat-content" flex mat-scroll-y>
    <div class="row">
        <div class="col-12">
            <br>
            <h1>Dashboard</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<div style="display: block;">-->
                <!--<canvas baseChart width="400" height="400"-->
                        <!--[datasets]="lineChartData"-->
                        <!--[labels]="lineChartLabels"-->
                        <!--[options]="lineChartOptions"-->
                        <!--[colors]="lineChartColors"-->
                        <!--[legend]="lineChartLegend"-->
                        <!--[chartType]="lineChartType"-->
                        <!--(chartHover)="chartHovered($event)"-->
                        <!--(chartClick)="chartClicked($event)"></canvas>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div style="display: flex; flex-direction: row;">
        <div class="dashboard-chart half" >
            <h5 style="margin-left: 30px">Customer Attrition</h5>
            <div style="display: block;">
                <canvas baseChart height="150"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">

                </canvas>
            </div>
            <!--<nvd3 [options]="lineChartCustomer" [data]="dataLineChartCustomerAttrition"></nvd3>-->
        </div>
        <div class="dashboard-chart half" style="margin-left: 30px">
            <h5 style="margin-left: 30px">Customer Acquisition</h5>
            <div style="display: block;">
                <canvas baseChart height="150"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                </canvas>
            </div>
            <!--<nvd3 [options]="lineChartCustomer" [data]="dataLineChartCustomerAcquisition"></nvd3>-->
        </div>
    </div>

    <div style="display: flex; flex-direction: row;">
        <div class="dashboard-chart" style="width: 30%">
            <h5>Monthly Plans (Corporate)</h5>
            <canvas baseChart
                    [data]="pieChartCorporateData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType">

            </canvas>
            <!--<nvd3 [options]="donutChart" [data]="dataDonutChartMonthlyPlansCorporate"></nvd3>-->
        </div>
        <div class="dashboard-chart card-body" style="margin-left: 30px; width: 30%">
            <h5 class="card-title">Logs</h5>
            <div style="height: 200px">
                <perfect-scrollbar class="container">
                    <table class="table table-sm table-borderless">
                        <tbody>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        <tr>
                            <td><span class="align-middle border-theme-1 log-indicator"></span></td>
                            <td><span class="font-weight-medium">New user registiration</span></td>
                            <td class="text-right"><span class="text-muted">15/12/2020 18:20:11</span></td>
                        </tr>
                        </tbody>
                    </table>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="dashboard-chart" style="margin-left: 30px; width: 30%">
            <h5>Monthly Plans (Individual)</h5>
            <canvas baseChart
                    [data]="pieChartIndividualData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType">

            </canvas>
            <!--<nvd3 [options]="donutChart" [data]="dataDonutChartMonthlyPlansIndividual"></nvd3>-->
        </div>
    </div>

    <div class="dashboard-chart">
        <h5 style="margin-left: 30px">Transaction Volume (Corporate)</h5>
        <div style="display: block;">
            <canvas baseChart height="100"
                    [datasets]="lineChartTransactionVolumeCorporateData"
                    [labels]="lineChartTransactionLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColorsCorporate"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
        </div>
        <!--<nvd3 [options]="lineChartTransactions" [data]="dataLineChartTransactionsVolumeCorporate"></nvd3>-->
    </div>

    <div class="dashboard-chart">
        <h5 style="margin-left: 30px">Transaction Volume (Individuals)</h5>
        <canvas baseChart height="100"
                [datasets]="lineChartTransactionVolumeIndividualsData"
                [labels]="lineChartTransactionLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColorsIndividuals"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
        <!--<nvd3 [options]="lineChartTransactions" [data]="dataLineChartTransactionsVolumeIndividuals"></nvd3>-->
    </div>
    <br>
    <br>
    <br>
</div>
